@import "https://fonts.googleapis.com/css?family=Oxygen+Mono|Fauna+One"

*
  box-sizing border-box
  font-family 'Fauna One', 'Verdana', 'Ubuntu', 'Calibri', 'Helvetica', 'Arial', sans-serif

button
  font-size: 2em

body
  position relative
  min-height 400px !important
  margin 15px
  padding 0

body > main
body > header
  width 800px
  max-width 100%
  margin auto

body > main
  height auto
  overflow auto
  padding 10px

article > *:not(header) h1
  text-align left

footer
  text-align right
  font-size 1.4em
  position absolute
  bottom 0
  right 0
